.menu--mohe .menu__item {
	font-family: 'Space Mono', sans-serif;
	font-weight: 700;
	display: grid;
	justify-content: center;
	margin: 4em 0;
	text-transform: lowercase;
	grid-template-columns: auto;
}

.menu--mohe .menu__item-name {
	font-size: 1.8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	white-space: pre;
	pointer-events: none;
	color: var(--color-text);
	grid-area: 1 / 1 / 2 / 2;
}

.menu--mohe .menu__item-name span {
	display: inline-block;
}

.menu--mohe .menu__item-label {
	font-size: 1.25em;
	line-height: 1.4;
	overflow: hidden;
	margin: 0;
	text-align: center;
	color: transparent;
	transition: color 0s 0.3s;
	grid-area: 1 / 1 / 2 / 2;
}

.menu--mohe .menu__item:hover .menu__item-label,
.menu--mohe .menu__item:focus .menu__item-label {
	color: #fff;
}

.menu--mohe .menu__item-label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition: transform 0.6s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--mohe .menu__item:hover .menu__item-label::before,
.menu--mohe .menu__item:focus .menu__item-label::before {
	transform: translate3d(100%,0,0) translate3d(1px,0,0);
}

@media screen and (max-width: 50em) {
	.menu--mohe .menu__item-label {
		font-size: 0.85em;
	}
}
