.menu--ama {
	counter-reset: itemCounter;
}

.menu--ama .menu__item {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	font-weight: 500;
	margin: 3em 0;
	padding-left: 0.5em;
	color: #32343c;
}

.menu--ama .menu__item:first-child {
	--menu-item-color:#9437ff;
}

.menu--ama .menu__item:nth-child(2) {
	--menu-item-color:#ff84fd;
}

.menu--ama .menu__item:nth-child(3) {
	--menu-item-color:#6cccff;
}

.menu--ama .menu__item:nth-child(4) {
	--menu-item-color:#3dd2c1;
}

.menu--ama .menu__item::before {
	content: counter(itemCounter,decimal-leading-zero);
	font-size: 0.85em;
	font-weight: bold;
	position: absolute;
	right: 100%;
	bottom: calc(100% - 0.35em);
	counter-increment: itemCounter;
	color: #ddd;
}

.menu--ama .menu__item:hover::before,
.menu--ama .menu__item:focus::before {
	color: var(--menu-item-color);
}

.menu--ama .menu__item-name {
	font-size: 1.5em;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em 0 0 0;
	white-space: pre;
	text-transform: lowercase;
}

.menu--ama .menu__item-name::before,
.menu--ama .menu__item-name::after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 2.5em;
	height: 4px;
	background: #ddd;
}

.menu--ama .menu__item-name::after {
	background: var(--menu-item-color);
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
}

.menu--ama .menu__item:hover .menu__item-name::after,
.menu--ama .menu__item:focus .menu__item-name::after {
	transform: scale3d(1,1,1);
}

.menu--ama .menu__item-name span {
	display: inline-block;
}
